.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  padding: 5px;
}

button {
  width: 35px;
  height: 30px;
  font-weight: 700;
  font-size: 20px;
  background-color: #688d74;
  color: black;
  border-radius: 10px;
}

.number-display {
  font-size: 24px;
  font-weight: 700;
  color: #0c2e19;
}
