.list-wrapper {
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dishesList {
  display: flex;
  flex-direction: column;
  width: 700px;
}
input {
  width: 500px;
  height: 30px;
  margin-left: 20px;
}
textarea {
  width: 500px;
  height: 100px;
  margin-left: 20px;
  padding: 3px;
}
label {
  width: 90px;
}
.button-list {
  display: flex;
  width: 60px;
  margin-left: 110px;
}
.box {
  display: flex;
  margin-bottom: 5px;
}
button {
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: #b1c4b6;
}
.button-click {
  margin-right: 5px;
  border-radius: 2px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 1px solid #000;
  padding: 10px;
}
.input-entered {
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}
.input-wrapper {
  display: flex;
  justify-content: space-between;
}
.label {
  margin-left: 10px;
}
.name {
}
.form-wrapper {
  margin-top: 20px;
}
.dishes-wrapper {
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px;
}
.add-dish-button {
  position: absolute;
  left: 100px;
  width: 100px;
  height: 35px;
  background-color: #b1c4b6;
  border-radius: 5px;
}
