.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 57, 57, 0.74);
}
.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 500px;
  background-color: #adbbb0;
  border-radius: 15px;
}
.description {
  height: auto;
  margin-top: 16px;
  margin-bottom: 10px;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
}

.image {
  width: 150px;
  height: 100px;
  border-radius: 15px;
  margin-top: 15px;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.close-icon {
  position: fixed;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgb(16, 83, 72);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-add {
  width: 30px;
  height: 30px;
}
.add {
  // position: absolute;
  // right: 222px;
  // bottom: 20px;
  height: 45px;
  font-weight: 700;
  font-size: 20px;
  color: black;
  border-radius: 10px;
  // margin-right: 20px;
  width: 65px;
  background-color: #f8f4f4;
  margin-top: 20px;
  margin-bottom: 20px;
}
.price {
  font-size: 18px;
  font-weight: 700;
  text-align: justify;
  margin-bottom: 20px;
}
.wrapper-counter {
}
