.list-orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-wrapper {
  margin-top: 120px;
  margin-bottom: 120px;
}
.position {
  display: flex;
}
h2 {
  text-align: center;
}
.name {
  display: flex;
  color: #2d775e;
}

p {
  margin: 0 0 10px;
}
.position-wrapper {
  display: flex;
}

.table {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  margin-top: 15px;
}
.cell {
  text-align: center;
  border: 1px solid #000;
}
.table-position {
  width: 100%;
  border: 1px solid #000;
  border-bottom: 0;
}
.title-position {
  text-align: left;
  width: 250px;
  border: 1px solid #000;
}
.cell-position {
  text-align: left;
  border: 1px solid #000;

  height: 25px;
}
.row {
  border: 1px solid #000;
}
.title-cell {
  border: 1px solid #000;
  background-color: #2d775e;
  height: 40px;
}
