.form-user {
  display: flex;
}
.box {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.form-wrapper {
  margin-top: 120px;
  margin-bottom: 100px;
}
h2 {
  text-align: center;
}
.title-cell {
  border: 1px solid #000;
  background-color: #2d775e;
  height: 40px;
}
.cell {
  text-align: center;
  border: 1px solid #000;
}
.table {
  width: 100%;
  border: 1px solid #000;
  margin-bottom: 10px;
}
.button-cell {
  width: 100px;
}
.cell-address {
  width: 300px;
  text-align: center;
  border: 1px solid #000;
}
.cell-name {
  width: 200px;
  text-align: center;
  border: 1px solid #000;
}
